<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ARGH!!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" ></meta>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" media="screen" />
  </head>
  <body>
    <h1>FUCKING FINALLY</h1>
    <h2><span th:text="${now}">0000000000</span></h2>
    <script src="/webjars/jquery/jquery.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>